<div>
  <div>
    <h1>
      Photo Details
    </h1>

    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @the_photo.image %>" class="img-responsive">
      </dd>

      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_photo.owner.username %>
      </dd>

      <dt>
        Posted
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>

      <dt>
        Fans
      </dt>
      <dd>
        #insert names of fans
      </dd>

      <dt>
        Add a fan
      </dt>
      <dd>
        #insert like button
      </dd>
    </dl>
  </div>
</div>

<div>
  <h2>
    Comments
  </h2>

  <table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

  <tr>
    <td>
      roselee
    </td>

    <td>
      Know how to listen, and you will profit even from those who talk badly.
    </td>

    <td>
      over 3 years ago
    </td>
  </tr>
  </table>  


  <h3>Add a new comment</h3>

  <form action="/insert_comment" method="post">
    <input type="hidden" value="<%= @the_photo.id %>" name="query_photo_id">
  
    <label for="browser_comment">Comment</label>
    <textarea id="browser_comment" name="query_body" placeholder="Enter a comment..."></textarea>

    <button>Add comment</button>
  </form>
</div>
